---
import { type CollectionEntry } from "astro:content";
import { getStaticPathsForCollection } from "@/utils/collectionUtils";
import Layout from "@/layouts/Layout.astro";

// SSG
export async function getStaticPaths() {
  return await getStaticPathsForCollection("articles");
}

type Props = {
  entry: CollectionEntry<"articles">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <h1>{entry.data.title}</h1>
  <h2>{entry.data.date.toISOString()}</h2>
  <Content />
</Layout>
