---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { dateSorter } from "@/utils/collectionUtils";
import type { ContentEntryMap } from "astro:content";
import { site, theme } from "@/data/consts";
import EntryCard from "../EntryCard.astro";
import Icon from "../Icon.astro";

// type for astro props
type Props = {
  collectionName: keyof ContentEntryMap;
  collectionTitle: string;
};

const { collectionName, collectionTitle } = Astro.props;
const entries = (await getCollection(collectionName)).sort(dateSorter);
---

<Layout title={collectionTitle}>
  <h1 class="text-3xl mb-10 pb-0 font-bold text-center">
    {collectionTitle}
  </h1>
  <div
    class="grid gap-4 grid-cols-1
  max-w-[475px] m-auto
  sm:grid-cols-2 sm:max-w-none"
  >
    {
      entries
        .filter((entry) => {
          if (entry.data.draft) {
            return false;
          }
          return true;
        })
        .map((entry) => <EntryCard entry={entry as any} />)
    }
  </div>
</Layout>
