---
import Image from "@/components/Image.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { dateSorter } from "@/utils/collectionUtils";
import type { ContentEntryMap } from "astro:content";
import { site, theme } from "@/data/consts";
import ProjectCard from "../ProjectCard.astro";

// type for astro props
type Props = {
  collectionName: keyof ContentEntryMap;
  collectionTitle: string;
};

const { collectionName, collectionTitle } = Astro.props;
const entries = (await getCollection(collectionName)).sort(dateSorter);
---

<Layout>
  <h1 class="text-4xl mb-5 pb-0 font-bold text-center">{collectionTitle}</h1>
  <div class="flex flex-col gap-4">
    {entries.map((entry) => <ProjectCard entry={entry as any} />)}
  </div>
</Layout>
