@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Base font sizes */
    /* (specify what 1rem should refer to) */
    :root {
        @apply text-[16px] 
               sm:text-[18px]
    }
}

@layer components {
    /* Page width */
    /* Single source of truth for styling the page's width, for use in navbars, etc */
    .page-x {
        @apply mx-auto 
               px-3 
               2xs:px-3 
               xs:px-5 
               sm:px-9 
               md:px-14 
               lg:px-[8rem] 
               xl:px-[14rem] 
               2xl:px-[20rem];
    }

    /* Page height */
    .page-y {
        @apply h-full 
               py-1 
               2xs:py-2 
               /* xs:py-3 
               sm:py-4 
               md:py-5 
               lg:py-5 
               xl:py-5; */
    }
}

/* Fix code font size */
.astro-code{
    @apply text-sm;
}