@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Base font sizes */
    /* (specify what 1rem should refer to) */
    :root {
        @apply text-[16px] 
               sm:text-[17px]
    }
}

@layer components {
    /* Page width */
    /* Single source of truth for styling the page's width, for use in navbars, etc */
    .page-x {
        @apply mx-auto 
               px-3 
               2xs:px-3 
               xs:px-5 
               sm:px-9 
               md:px-14 
               lg:px-[8rem] 
               xl:px-[14rem] 
               2xl:px-[20rem];
    }

    /* Page height */
    .page-y {
        @apply h-full 
               py-1 
               2xs:py-2 
               /* xs:py-3 
               sm:py-4 
               md:py-5 
               lg:py-5 
               xl:py-5; */
    }
}

/* --- <content> --- */
@layer base {
    p {
        @apply my-2;
    }

    a {
        @apply text-link border-b border-link border-dotted 
               hover:border-solid hover:text-link-hov hover:border-link-hov;
    }

    hr {
        @apply border-b border-dark-l;
    }

    /* headings */
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold mt-1;

        /* when clicking on anchor link, offset the scroll 
            so that the navbar doesn't block everything */
        @apply scroll-mt-navbar;

        /* heading link (anchor link) */
        a {
            @apply border-0 text-[inherit] hover:text-dark-l;
        }
    }
    
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }

    /* code */
    pre {
        @apply text-sm p-3 rounded max-h-[64vh];
    }

    /* inline code */
    :not(pre) > code {
        @apply bg-light-dd border border-dark-lll rounded-sm px-1 text-sm;
    }

    /* table */
    table {
        @apply border border-dark-lll;

        thead, th {
            @apply bg-light-ddd text-left;
        }

        th, td {
            @apply border border-dark-lll px-2 py-1;
        }

        tbody tr:nth-child(odd) {
            @apply bg-light-d;
        }
    }

    /* lists */
    ul, ol {
        @apply list-disc pl-5;
    }

    ol {
        @apply list-decimal;
    }

    ul ul, ol ul, ul ol, ol ol {
        @apply list-inside;
    }
}

/* margin for everything */
.content {
    & > * {
        @apply my-3;
    }

    /* extra margin for hr */
    hr {
        @apply my-5;
    }

    /* underline for h1, h2 */
    h1, h2 {
        @apply border-b pb-1 pt-2 border-dark-l border-dotted;
    }

    .astro-code {
        @apply mb-4;
    }
}

/* --- </content> --- */