---
import PZLogo from "./PZLogo.astro";
---

<nav
  role="navigation"
  class="shadow bg-light text-dark
    text-lg font-bold
    w-full h-navbar
    flex flex-row justify-start items-center
    fixed"
>
  <div class="page-x flex-1">
    <PZLogo />
    <span class="text-2xl"> pixelchai </span>
  </div>
</nav>
