---

---

<div
  class="shadow bg-light text-dark text-2xl h-fit py-3 font-bold w-full h-[4rem] text-white flex flex-row justify-start items-center fixed"
>
  <div class="page-x flex-1">
    <span>pixelchai</span>
  </div>
</div>
