---
import PZLogo from "./PZLogo.astro";
---

<nav
  role="navigation"
  class="bg-light text-dark
    shadow
    text-lg
    w-full h-navbar
    flex flex-row
    justify-start items-center
    fixed"
>
  <div
    class="page-x
      flex-1 flex flex-row gap-2
      justify-start items-center"
  >
    <PZLogo class="h-7" />
    <span class="text-2xl font-bold"> pixelchai </span>
  </div>
</nav>
