---
import PZLogo from "./PZLogo.astro";
---

<nav
  role="navigation"
  class="bg-light text-dark
    w-full h-navbar
    fixed z-50"
>
  <div
    class="page-x w-full h-full
        flex flex-row items-center gap-2 justify-between"
  >
    <!-- Logo and text -->
    <div>
      <a
        class="flex-0 flex flex-row gap-2
      justify-start items-center"
        href="/"
        aria-label="Home"
        ><PZLogo class="h-7" />
        <h2 class="text-2xl font-bold m-0 p-0">pixelchai</h2>
      </a>
    </div>
    <!-- Links -->
    <div class="flex-0">abcdef</div>
  </div>
</nav>
