---
import type { GetStaticPathsResult } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import Layout from "@/layouts/Layout.astro";

// SSG
// NB: refactor to utils if reused -- getStaticPathsForCollection(collectionName)
export async function getStaticPaths() {
  let paths: GetStaticPathsResult = [];

  for (const entry of await getCollection("projects")) {
    console.debug("[SSG] Processing entry:", entry.slug);
    paths.push({ params: { slug: entry.slug }, props: { entry } });
  }
  return paths;
}

// template
type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <h1>{entry.data.title}</h1>
  <h2>{entry.data.date.toISOString()}</h2>
  <Content />
</Layout>
