---
import Picture from "@/components/Picture.astro";
import Layout from "@/layouts/Layout.astro";
import { dateSorter } from "@/utils/collectionUtils";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";

// import src from "/res/content/snake-ai/thumb.gif";

const entries = (await getCollection("projects")).sort(dateSorter);

// const optimised = await getImage({
//   src: src,
//   formats: ["avif", "webp", "jpg"],
//   // densities: [0.25],
//   widths: [200],
// });
---

<Layout>
  <h1>Projects</h1>
  <ul>
    {
      entries.map((entry) => (
        <li>
          {entry.data.thumb && (
            <Picture src={entry.data.thumb} alt={entry.data.title} />
          )}
          <a href={`/projects/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
