---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("projects");
---

<Layout>
  <h1>Projects</h1>
  <ul>
    {
      entries.map((entry) => (
        <li>
          <a href={`/projects/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
