---
import Navbar from "@/components/Navbar.astro";
import "@/styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body class="bg-light text-dark font-medium">
    <!-- navbar -->
    <Navbar />
    <div class="page-x pt-navbar">
      <div class="page-y">
        <!-- content -->
        <slot />
      </div>
    </div>
  </body>
</html>
