---
import "@/styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body class="bg-cl text-cd">
    <!-- navbar -->
    <div
      class="bg-cd text-cl w-full h-[4rem] text-white flex flex-row justify-start items-center"
    >
      <div class="page-x flex-1">
        <span>Heloo</span>
      </div>
    </div>
    <div class="page-x page-y">
      <!-- content -->
      <slot />
    </div>
  </body>
</html>
