---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body class="mx-auto">
    <slot />
  </body>
</html>
<style>
  body {
    padding: 0 0.5rem;
  }
  @media screen and (min-width: 320px) {
    body {
      padding: 0 0.5rem;
    }
  }

  @media screen and (min-width: 375px) {
    body {
      padding: 0 0.75rem;
    }
  }
  @media screen and (min-width: 486px) {
    body {
      padding: 0 1.1rem;
    }
  }
  @media screen and (min-width: 544px) {
    body {
      padding: 0 1.3rem;
    }
  }

  @media screen and (min-width: 627px) {
    body {
      padding: 0 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    body {
      padding: 0 2.5rem;
    }
  }

  @media screen and (min-width: 853px) {
    body {
      padding: 0 3rem;
    }
  }

  @media screen and (min-width: 853px) {
    body {
      padding: 0 4rem;
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      padding: 0 5.6rem;
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      padding: 0 10rem;
    }
  }

  @media screen and (min-width: 1910px) {
    body {
      padding: 0 16rem;
    }
  }
</style>
