---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import { site } from "@/data/consts";
import "@/styles/main.css";

export type Props = {
  title?: string;
  description?: string;
};

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href={`${site.base}/favicon.svg`} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {props.title ? `${props.title} — ${site.title}` : site.title}
    </title>
    <meta name="description" content={props.description || site.description} />

    <!-- Katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light text-dark h-full">
    <!-- navbar -->
    <Navbar />
    <div class="page-x pt-navbar">
      <div class="page-y">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
